.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 3px 5px 25px -1px rgba(0,0,0,0.56);
  -webkit-box-shadow: 3px 5px 25px -1px rgba(0,0,0,0.56);
  -moz-box-shadow: 3px 5px 25px -1px rgba(0,0,0,0.56);
}

.photo {
  width:200px;
  height: 200px;
  border-radius: 100%;
}